main {
    margin-top: 146px;
}

section {
    width: var(--form-input-text-width);
    /* width: var(--container-width); */
    padding-left: 100px;
}

.user-img {
    width: var(--form-input-height);
    height: var(--form-input-height);
    border-radius: 100%;
    object-fit: cover;
}

.posts {
    margin: 52px 0px;
}

.suggestion {
    width: 421px;
    max-height: 363px;
    position: var(--position-absolute);
    left: 940px;
}

.sticky {
    position: sticky;
    top: 146px;
    /* max-height: 100%; */
    z-index: 1;
}