.navbar {
    padding: 30px 100px;
    gap: var(--gap-buttons-inputText);
    width: var(--container-width);
    height: 76px;
    background: var(--color-grey-1);
    color: var(--color-white-fixed);
    font-size: var(--text-2-size);
    line-height: var(--text-2-3-line);
    font-weight: var(--text-weight);
    position: fixed;
    top: 0;
    z-index: 3;
}

.navbar button {
    color: var(--color-white-fixed);
    background: var(--color-grey-2);
    border-radius: var(--radius-input-button);
    height: 32px;
    padding: 8px;
    gap: var(--form-items-gap);
    border: none;
    cursor: var(--cursor);
}

.navbar a {
    color: var(--color-grey-4);
    width: 55px;
    height: 16px;
}

.navbar p {
    cursor: var(--cursor);
}

div {
    gap: var(--form-items-gap);
}

a {
    text-decoration: none;
    color: black;
    font-size: var(--text-3-size);
    line-height: var(--text-2-3-line);
    font-weight: var(--text-weight);
}